@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Source+Code+Pro|Wellfleet');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 400;
}


.remark-code {
  display: block;
  padding: 10px 15px;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
}

.remark-inline-code {
  font-family: 'Source Code Pro', monospace;
  color: #4e2a8e;
}

/*
 * Custom themes
 */
.mirego {
  font-weight: 700;
  text-transform: uppercase;
}

.alg {
  font-family: 'Wellfleet', cursive;
  color: #013758;
}
